.menu{
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    height: 40px;
    width: 100%;
    padding: 0;
    margin: 0;
    background: white;
    box-shadow: 0px 5px 5px #444444;

}

.filtre{
    font-size: 18px;
    padding: 8px;
    color: blue;
    text-align: center;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.filtre + .filtre {
    border-left:  solid 1px #999999;
}
.liste-conteneur{
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.categorie-exigence{


}
